@font-face {
  font-family: "iconfont";
  /* Project id 2544283 */
  src: url('iconfont.woff2?t=1620819558651') format('woff2'), url('iconfont.woff?t=1620819558651') format('woff'), url('iconfont.ttf?t=1620819558651') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-in:before {
  content: "\e628";
}

.icon-out:before {
  content: "\e62d";
}

.icon-scan:before {
  content: "\e615";
}

.icon-copy:before {
  content: "\e605";
}